<section class="addRecipe ">
    <form method="POST" action="/">
        {{!-- <div id="name">
            <label for="yourName">Your Name</label><br>
            <textarea name="yourname" placeholder="Enter your name">
            </textarea>
            <br>
        </div> --}}
        <div id="recipeName">
            <label for="recipeName">What is the name of your recipe?</label><br>
            <textarea name="recipeName" placeholder="Your recipe name here">
                {{name}}
            </textarea>
        </div>
        <div class="ingredient">
            <label for="ingredients">What are the ingredients? (amount, unit of measurement, then ingredient)</label><br>
            <textarea name="ingredients" placeholder="(amount, unit of measurement, ingredient)">
                {{ingredients}}
            </textarea>
            <button class="deleteIngredient" onclick="deleteIngredientBox(event)">🗑</button><br>
            
        </div>

        <button id="addNewIngredient" onclick="addIngredientBox(event)">+</button>

        <div class="instructions">
            <label for="instructions">Instructions</label><br>
            <textarea class="insText">{{instructions}}</textarea>
            
        </div>
        <div class="meal">
            <p>What meal is his recipe for?</p>
            <input type="radio" class="meal" name="meal" value="Breakfast">
            <label for="Breakfast">Breakfast</label><br>
            <input type="radio" name="meal" value="Lunch">
            <label for="Lunch">Lunch</label><br>
            <input type="radio" name="meal" value="Dinner">
            <label for="Dinner">Dinner</label>
        </div>
        <div class="addFile">
            <label for="myfile">Select a file:</label>
            <br>
            <input type="file" id="myfile" name="myfile">
        </div>

        <div class="buttons">
            <input type="submit" value="Submit">
            <button class="clear">Clear Recipe</button>
        </div>
    </form> 
</section>

<script src="/public/js/addrecipe.js"></script>