<aside class="col-12 col-md-4 col-lg-3 m-3">
    <h2>Popular Recipe</h2>
    <article class="card">
        {{!-- Finding popular recipe --}}
    </article>
</aside>
<section class="col-12 col-md-8 col-lg-9 m-3">
    <h2>Recent Breakfast Recipes</h2>
    <section class="recent-cards d-flex flex-row flex-wrap full-width">
        {{!-- For each breakfast recipe, the 'recipe-card' partial is used to render the gallery data --}}
        {{#each recentBreakfastRecipes as |recipe|}}
            {{> recipe-card}}
        {{/each}}
    </section>
    {{!-- For each lunch recipe, the 'recipe-card' partial is used to render the gallery data --}}
    <h2>Recent Lunch Recipes</h2>
    <section class="recent-cards d-flex flex-row flex-wrap full-width">
        {{#each recentLunchRecipes as |recipe|}}
            {{> recipe-card}}
        {{/each}}
    </section>
    {{!-- For each dinner recipe, the 'recipe-card' partial is used to render the gallery data --}}
    <h2>Recent Dinner Recipes</h2>
    <section class="recent-cards d-flex flex-row flex-wrap full-width">
        {{#each recentDinnerRecipes as |recipe|}}
            {{> recipe-card}}
        {{/each}}
    </section>
</section>