<aside class="col-12 col-md-4 col-lg-3 m-3">
    <h2>Featured Recipe</h2>
    <article class="card">
        {{!-- Finding popular recipe --}}
        {{#each featuredRecipe}}
            {{>featured-recipe}}
        {{/each}}
    </article>
</aside>
<section class="recent-cards col-12 col-md-8 col-lg-9 m-3">
    <h2>Recent Breakfast Recipes</h2>
    <section class="col-12 col-md-8 col-lg-9 d-flex flex-lg-row flex-wrap">
        {{!-- For each breakfast recipe, the 'recipe-details' partial is used to render the gallery data --}}
        {{#each recentBreakfastRecipes as |recipe|}}
            {{> recipe-details}}
        {{/each}}
    </section>
    {{!-- For each lunch recipe, the 'recipe-details' partial is used to render the gallery data --}}
    <h2>Recent Lunch Recipes</h2>
    <section class="col-12 col-md-8 col-lg-9 d-flex flex-lg-col flex-md-row flex-lg-row flex-wrap">
        {{#each recentLunchRecipes as |recipe|}}
            {{> recipe-details}}
        {{/each}}
    </section>
    {{!-- For each dinner recipe, the 'recipe-details' partial is used to render the gallery data --}}
    <h2>Recent Dinner Recipes</h2>
    <section class="col-12 col-md-8 col-lg-9 d-flex flex-row flex-wrap">
        {{#each recentDinnerRecipes as |recipe|}}
            {{> recipe-details}}
        {{/each}}
    </section>
</section>