<div class="row">
  <div class="col-auto">
    <h2>Welcome back, {{name}}!</h2>
  </div>
</div>

<form
  id="login-form"
  class="cover-container d-flex w-150 h-150 p-3 mx-auto flex-column"
>
  <div class="my-2">
    <label for="login-username">Username: </label>
    <input type="text" id="login-username" name="login-username" />
  </div>
  <div class="my-2">
    <label for="login-password">Password: </label>
    <input type="password" id="login-password" name="login-password" />
  </div>
  <div class="my-2">
    <a href="#">Forgot password? Click here for help.</a>
  </div>
  <div class="my-2">
    <a href="/signup">New here? Click here to sign up.</a>
  </div>
  <div class="d-grid gap-3 col-3 mt-2 mx-auto">
    <button id="login-btn" class="btn btn-primary">Submit</button>
  </div>
</form>

<script src="/js/login.js"></script>