<section class="mealtime-cards m-3 full-width">
    <h2>{{pageTitle}}</h2>
    <section class="d-flex flex-row flex-wrap full-width">
        {{!-- For each recipe, the 'recipe-card' partial is used to render the recipe data --}}
        {{#each mealtimeRecipes as |recipe|}}
            {{> recipe-card}}
        {{/each}}
    </section>
</section>