* {
  box-sizing: border-box;
}

:root {
  --black: #1b1b1b;
  --morning-blue: #d4bebe;
  --champagne: #eee0cb;
  --grullo: #baa898;
  --beau-blue: #bfd7ea;
}

/* HOMEPAGE STYLING */

body {
  width: 80%;
  margin: 2rem auto;
  background-color: #fffcf8;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.7rem;
}

h3 {
  font-size: 1.5rem;
}

h3,
p {
  margin: 3%;
  color: var(--black);
}

a {
  text-decoration: none;
}

nav a {
  margin: 1rem;
  text-decoration: none;
  color: #1b1b1b;
  font-size: 1.2rem;
}

img {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
}

.recent-cards .card {
  flex-basis: 30%;
}

.mealtime-cards .card {
  flex-basis: 20%;
}

.card {
  filter: drop-shadow(10px 5px 4px #0000002a);
}

.full-width {
  width: 100%;
}

hr {
  border: solid black;
}

.newRecipeBtn {
  border-radius: 2rem;
  background-color: #036851;
  color: #fff;
  border: none;
  padding: 0 10px 0 10px;
}

.button:hover {
  background-color: #fff;
  color: #013429;
  text-decoration: none;
}
.textBtn {
  color: #eee0cb;
}
