<section class="addRecipe">
    <form>
        <div id="name"
        <label for="yourName">Your Name</label><br>
        <input type="text" name="yourname"><br>
        <label for="recipeName">What is the name of your recipe?</label><br>
        <input type="text" name="recipeName">

    </form> 
</section>