<aside class="col-12 col-md-4 col-xl-3">
    <h2>Popular Recipe</h2>
    <article class="card">
        {{!-- Need to find out how to find popular dish --}}
        <a href="/{{recipes}}/{{id}}"> </a>
    </article>
</aside>
<section class="col-12 col-md-10 col-xl-9">
    <h2>Recent Breakfast Recipes</h2>
    <section>
        {{!-- Must limit to 3 --}}
        {{#each recipes.breakfast as |recipe|}}
        {{> recipe-details}}
        {{/each}}
    </section>
    {{!-- Must limit to 3 --}}
    <h2>Recent Lunch Recipes</h2>
    <section>
        {{#each recipes.lunch as |recipe|}}
        {{> recipe-details}}
        {{/each}}
    </section>
    {{!-- Must limit to 3 --}}
    <h2>Recent Dinner Recipes</h2>
    <section>
        {{#each recipes.dinner as |recipe|}}
        {{> recipe-details}}
        {{/each}}
    </section>
</section>